@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600,700|Raleway:300,400,500,600,700i,900');

$cor-cinza:#ececec;
$cor-laranja:#ef4722;
$cor-azul:#32373f;
$cor-branco:#fff;

header{
	.navbar-default{
		border-radius:0 !important;
		border:none !important;
		height: auto !important;
		min-height:auto !important;
		.navbar-brand{
			min-height:auto !important;
			height: auto !important;
		}
		.navbar-nav{
			margin-top: 10px !important;
			li{
				a{
					font-family: 'Oswald', sans-serif;
					text-transform: uppercase;
					color:#333;
				}
				a:hover{
					background-color:$cor-azul;
					color:$cor-branco;
				}
			}
		}
	}
}

section{
	padding-top:50px;
	padding-bottom:50px;
	.titulo{
		h1{
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			margin: 0 !important;
			margin-bottom: 20px !important;
		}
	}
}

section#servicos{
	background-color:$cor-cinza;
	.servico{
		margin-top: 40px !important;
		i{
			font-size: 5vw;
		}
		h2{
			text-transform: uppercase;
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			margin: 0 !important;
			display: table-cell !important;
			vertical-align: middle !important;

		}
	}
}

section#trabalhos{
	.trabalho{
		margin-bottom: 20px !important;
		.img-thumbnail{
			margin-bottom:10px !important;
		}
		h2{
			text-transform: uppercase;
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			margin: 0 !important;
			display: table-cell !important;
			vertical-align: middle !important;
		}
	}
}

section#contato{
	background-color:$cor-cinza;
}

footer{
	.footer{}
	.copyright{
		padding-top:15px;
		padding-bottom:15px;
		p{
			margin:0 !important;
		}
	}
}