<!DOCTYPE html>
<html lang="pt-br" ng-app="thiagorodrigues">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Thiago Rodrigues</title>

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <script src="js/lib/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers/trabalhos.js"></script>
    <script src="js/directives/minhas-diretivas.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="#">Home</a></li>
                        <li class=""><a href="#">Sobre</a></li>
                        <li class=""><a href="#">Habilidades</a></li>
                        <li class=""><a href="#">Trabalhos Realizados</a></li>
                        <li class=""><a href="#">Entre em Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="slider">

    </section>

    <section id="sobre">
        <div class="titulo">
            <div class="container">
                <h1>Sobre</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    
                </div>
                <div class="col-sm-4">
                    <img src="" class="" alt=""/>
                </div>
            </div>
        </div>
    </section>

    <section id="servicos">
        <div class="titulo">
            <div class="container">
                <h1>Minhas Habilidades</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 servico">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="col-sm-8">
                            <h2>Criação de Sites</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 servico">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="col-sm-8">
                            <h2>Criação de Sites</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 servico">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="col-sm-8">
                            <h2>Criação de Sites</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 servico">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="col-sm-8">
                            <h2>Criação de Sites</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 servico">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="col-sm-8">
                            <h2>Criação de Sites</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 servico">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="col-sm-8">
                            <h2>Criação de Sites</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="trabalhos" ng-controller="TrabalhosController">
        <div class="titulo">
            <div class="container">
                <h1>Trabalhos Realizados</h1>
            </div>
        </div>
        <div class="container">
            <form name="" action="" method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">                            
                            <input type="text" class="form-control" name="filtrar" id="filtrar" placeholder="Filtro" ng-model="filtro" />
                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <meu-painel ng-repeat="projeto in projetos | filter: filtro" titulo="{{projeto.titulo}}">
                    <img src="{{projeto.url}}" class="img-responsive" alt="{{projeto.titulo}}" />
                </meu-painel>
            </div>
        </div>
    </section>

    <section id="contato">
        <div class="titulo">
            <div class="container">
                <h1>Entre em Contato</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" name="" id="" placeholder="Nome">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" name="" id="" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" name="" id="" placeholder="Telefone">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" name="" id="" placeholder="Assunto">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="" class="form-control input-lg" rows="5" placeholder="Mensagem"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submmit" class="btn btn-primary btn-lg">
                                    Enviar Mensagem
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4"></div>
            </div>

        </div>
    </section>

    <footer>
        <div class="footer">
            <div class="container"></div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>2017 &copy; Todos os Direitos Reservados.</p>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>