@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
p, h1, h2, h3, h4, h5, a {
    font-family: 'Roboto', sans-serif !important;
    ;
}


/* ==== Navbar ==== */

.navbar-brand {
    height: auto !important;
}

.navbar-nav {
    margin-top: 10px !important;
}

.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
    ;
}